    * {
        padding: 0;
        margin: 0;
    }
    
    #wrapper {
        display: flex;   
        flex-wrap: wrap;
        width: 600px;
        margin: 50px auto;
    }

    #wrapper input {
        width: 19%;
        min-height: 114px;
        font-size: 35px;
        text-align: center;
        text-transform: uppercase;
        outline: none;
        color: white;
        border: 1px solid white;
    }

    input {
        background-color: #027BFF;        
    }

    .red {
        background-color: #FF8040;
    }

    .yellow {
        background-color: #FFE90D;
    }